unset OS_TENANT_ID
unset OS_TENANT_NAME
export OS_REGION_NAME="Spain2"
export OS_USERNAME={{ os_username }}
export OS_PASSWORD={{ os_password }}
export OS_AUTH_URL={{ os_auth_url }}
export OS_PROJECT_ID={{ os_project_id }}
export PS1='[\u@\h \W(keystone_admin)]\$ '
export OS_PROJECT_NAME={{ os_project_name }}
export OS_USER_DOMAIN_ID={{ os_user_domain_id }}
export OS_PROJECT_DOMAIN_ID={{ os_project_domain_id }}
