# -*- encoding: utf-8 -*-
##
# Copyright 2017 FIWARE Foundation, e.V.
# All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#         http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
##

[google]
# Google JSON credential file allowing the access to the Google API
# Client ID for OAuth 2.0 access to web content in Google. See
# https://console.developers.google.com/apis/credentials for more details.
sheetid: {{ sheetid }}
usercredential: {{ user_credential }}
googlecredential: {{ google_credential }}
serviceaccountkey: {{ service_account_key }}

[jira]
server: {{ jira_server_url }}
user: {{ jira_user }}
password: {{ jira_password }}

[log]
loglevel: {{ log_level }}

[openstack]
# OpenStack Admin data in order to create the user accounts
# Set OpenStack Auth URL
os_auth_url: {{ os_auth_url }}

# Set OpenStack Admin username
os_username: {{ os_username }}

# Set OpenStack Admin password
os_password: {{ os_password }}

# Set OpenStack Admin project name
os_project_name: {{ os_project_name }}

# Set OpenStack Admin domain ID
os_user_domain_id: {{ os_user_domain_id }}

# Set OpenStack Admin project ID
os_project_id: {{ os_project_id }}

# Set OpenStack Admin project domain ID
os_project_domain_id: {{ os_project_domain_id }}

[mailer]
# Configuration data to send emails
mail_host: {{ mail_host }}
msg_from: {{ msg_from }}
first_default_msg_to: {{ first_default_msg_to }}
second_default_msg_to: {{ second_default_msg_to }}
